* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: lightblue;
    background-size: cover;
    display: flex;
}

#header-div-logo {
    width: 33%;
    float: left;
}

#name {
    margin: 0;
    margin-top: .1em;
    color: blue;
}

#m-color {
    color: red;
}

#header-div-links {
    width: 33%;
    float: right;
}

#header-div-links ul {
    margin: 0;
    float: right;
}

#header-div-links li {
    display: inline;
}

#header-div-links a {
    display: inline-block;
    padding: .5em;
}

#header-div-links a:hover {
    background-color: rgb(255, 255, 255, .3);
}

#header-div-nav {
    width: 33%;
    margin: 0 auto;
}

#header-div-nav ul {
    margin: 0;
}

#header-div-nav li {
    display: inline;
}

#header-div-nav a {
    display: inline-block;
    padding: .8em;
    text-decoration: none;
    font-size: large;
}

#header-div-nav a:hover {
    background-color: rgb(255, 255, 255, .3);
}

.main-body {
    display: flex;
    width: 100%;
}

.div-body-paragraph {
    width: 50%;
    float: left;
}

.paragraph {
    display: inline-block;
    padding-left: 20%;
    padding-top: 20%;
    padding-right: 5%;
}

.paragraph > * {
    margin: 0;
}

.paragraph p {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(24, 6, 53);
}

.paragraph h1 {
    font-size: 70px;
}

.paragraph h3 {
    font-size: 40px;
}

#g-color {
    color: blue;
}

.div-body-image {
    width: 50%;
    float: right;
}

.my-image {
    display: inline-block;
    padding-left: 20%;
    padding-top: 5%;
}

.footer {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: center;
}

#main-footer-div p{
    display: inline-block;
    padding-right: 3em;
}

#main-footer-div a {
    text-decoration: none;
}

#email, #location {
    font-size: 25px;
    font-weight: bold;
}